<div class="landing-page-section-footer">
    <div class="landing-page-section-footer-item">
        <h3 class="footer-heading">
            <div class="footer-logo footer-logo-accent"><i class="fa fa-fw fa-book"></i></div>
            Documentation
        </h3>
        <p class="footer-description">
            Find OctoBus/OctoRoute documentaion here.
        </p>
        <div class="footer-actions">
            <a class="btn" href="/docs/customer">
                <i class="fa fa-book"></i>
                OctoBus
            </a>
            <a class="btn" href="/docs/blogs">
                <i class="fa fa-newspaper"></i>
                OctoRoute
            </a>
        </div>
    </div>
    <div class="landing-page-section-footer-item">
        <h3 class="footer-heading">
            <div class="footer-logo">{{ with resources.Get "icons/juno_slack.svg" }}{{ ( . | minify ).Content | safeHTML }}{{ end }}</div>
            Slack
        </h3>
        <p class="footer-description">
            Join the #sap-tools-octobus channel on Slack.
        </p>
        <div class="footer-actions">
            <a class="btn btn-subdued" href="https://convergedcloud.slack.com/archives/C374AQJ3W">Go to Slack channel</a>
        </div>
    </div>
    <div class="landing-page-section-footer-item">
        <h3 class="footer-heading">
            <div class="footer-logo">{{ with resources.Get "icons/ccloud_icon_gold.svg" }}{{ ( . | minify ).Content | safeHTML }}{{ end }}</div>
            OctoBus
        </h3>
        <p class="footer-description">
            Log into Kibana UI.
        </p>
        <div class="footer-actions">
            <a class="btn btn-ccloud" href="https://ccloud.global.cloud.sap">Go to CCloud</a>
        </div>
    </div>
    <div class="landing-page-section-footer-item">
        <h3 class="footer-heading">
            <div class="footer-logo">{{ with resources.Get "icons/ccloud_icon_gold.svg" }}{{ ( . | minify ).Content | safeHTML }}{{ end }}</div>
            OctoRoute
        </h3>
        <p class="footer-description">
            Log into the Converged Cloud dashboard to manage your cloud assets.
        </p>
        <div class="footer-actions">
            <a class="btn btn-ccloud" href="https://ccloud.global.cloud.sap">Go to CCloud</a>
        </div>
    </div>
</div>
